/****MEDIAS****/
/*MEDIA MOBILE*/
@media only screen and (max-width: 576px) {}

@media(max-width:767px) {
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: var(--cor-bg-1);
        opacity: .9;
        margin-top: 1rem;
        flex: 1;
    }

    header {
        height: auto;
    }

    .menuMobile {
        display: flex !important;
        flex-direction: column;
        justify-content: space-around;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .container {
        width: 90%;
    }
}

/*MEDIA TABLETS*/
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    #topologo {
        max-width: 146px;
    }

    nav ul {
        display: flex !important;
    }

    #menu{
        padding: 0;
    }

    /*services section*/
    .services-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .service-box {
        width: 50%;
    }

   .produto-content{
    /* background-color: red; */
    margin: 0 auto;
    /* display: flex; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */

   }

   .produto-item{
    /* background-color: green; */
    /* max-width: 300px; */
    border-bottom: 3px solid gray;
   }

   .prod-info{
    max-width: 340px;
   }

    #rodape-itens {
        display: flex;
        justify-content: space-evenly;
        /* background-color: red; */
    }
    
    /* .rodapeatendimento,.rodapeendereco{
        border-right: 3px dashed #3b5998;
    } */
    #rodapeitens h1 {
        border-top: none;
    }

    #rodape-itens>div {
  /* background-color: yellow; */
  margin: 2rem 0 2rem;
  max-width: 245px;
}

/*QUEM SOMOS*/
    #quemsomoscont {
        display: flex;
        justify-content: center;
    }

    .container-quemsomos{
        flex-direction: row;
   } 

   #missao, #visao, #valores {
  height: 525px; 
   
}
}


/*MEDIA HD*/
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    #topologo {
        max-width: 100%;
    }

    .service-box {
        width: 33.33%;
    }

    /*.container{
        width: 992px;
    }*/

    #principal{
        flex-direction: row;
    }

    
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .container {
        width: 85%;
    }
}