/****RESET BÁSICO****/
/*RESET BÁSICO*/
*, *::after, *::before{margin:0;padding:0;box-sizing:border-box;border:none;outline:none;text-decoration: none;word-break: break-word;}

img{max-width: 100%;display: block;margin: auto; box-shadow: 0 2px 5px rgb(0 0 0 / 45%);}

/*CONTAINER centraliza e define tamanho do width em %*/
.container{width:95%;margin: 0 auto;overflow: hidden;}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  gap: 3px;
}
/*CUSTOMIZAÇÃO DE TAGS, CORES*/

/*DEFININDO VARIAVEIS GLOBAIS*/
:root {
    /*FONTES*/
    --fonte-texto: "Verdana", sans-serif;
    /* --fonte-texto: "MontSerrat", sans-serif; */
    /* --fonte-titulos: "Arial",sans-serif; */
    --fonte-titulos: "helvetica",sans-serif;
    --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-body: Inter, var(--font-fallback);
    --cor-texto: #F1F1FA;
    --cor-titulo: #0000ff;
    --cor-titulo-1: #F05A00;

    /*CORES*/
    /* --cor-bg-1: #0050b1; */
    --cor-bg-1: #3053D2;
    --cor-bg-2: #F1F1FA;
    --cor-bg-3: #95a6db;
    --cor-bg-4: #ccc;
    --cor-bg-teste: red;
    --bg-light:#FFF;
    --bg-light-1:#eaece5;
  }

html, body{height: 100vh;font-size: 1em;}

body{   
    /* font-size: 1em; */
    font-family: var(--fonte-titulos);
    /* line-height: 1.4em; */
    background-color: var(--cor-bg-1) ;
    text-align: center;
    color: black;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

h1, h2, h3{
  color: #0000ff;
  margin: .8em 0;
  text-shadow: #111 1px 1px 1px;
}

p{
    /* margin: 0.9em 0;  */
    /* font-size: 18px; */
    margin:1rem 0 1rem;
    color: black;
    /* text-align:left;  */
    /* word-wrap: break-word; */
    overflow-wrap: break-word;
    word-break: keep-all;
    line-height: 1.5;
    font-weight: bold;
    /* padding: 0 1rem; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  }

/*TOPO*/
#toposite{
    /* background:var(--cor-titulo-1); */
    /* background-color: red; */
     display:flex;}

#topositeint{
    display:flex; 
    /* justify-content: space-between; */
    align-items: center;
    /* margin-bottom: 1%; */
    /* background:var(--alternative1-bg-color);  */
     flex:1;
    }    
#topologo{
    /* width: 116px; */
    /* height: 116px; */
    padding: 10px;
}
#topocontato{display:flex;flex-direction: column;justify-content: space-evenly;flex:1;text-align: center;}
#topocontato p{font-size: 1.5rem;text-shadow: 2px 2px #222;}
#topocontato i{font-size: 1.5rem;}
#topologoimg{border-radius: 10px;}

/*NAV */
#menu{
    margin-bottom: 1%;
    display: flex;
    justify-content: end;
    padding: 1rem;
    flex: 1;
}
    
.menu {display:flex;align-items:center;justify-content: space-between;}
nav ul,nav li {list-style: none;margin:0;padding:0;}
nav ul{display:flex;}
nav a{
    display:block;
    padding:15px;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;color:#fff;text-shadow:2px 2px 2px black;cursor: pointer;transition: all 1s linear; margin-top: 1rem;}
nav .active a,nav a:hover{background-color:#39aae1;color:#FFFFFF; border-radius: 5px;}
.menuMobile{display:none;width:50px;height:50px;color: white;justify-content: center;cursor: pointer;}
.menuMobile-container{display: flex;flex-direction: column;align-items: center;}
.mm_line{height:3px;background-color:#ccc;width: 80%;margin: 2px;}

/*MAIN*/
main{
    /* background-color: var(--cor-bg-4); */
    background-color: azure;
}

#imagembanner{
height: 350px;
  /* max-width: 300px;
  background-color: #2640b6; */
}

/*INDEX*/
#index-quemsomos{
  background-color: #95a6db;
  /* background-color: #f0f0f0; */
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 45%);
  padding: 1rem;
}

#index-quemsomos > div{
  flex: 1;
}

/*PRODUTOS*/
#produtos{
  border-radius: 8px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 45%);
  padding: 1rem;
  background-color: #003087;;
  margin: 16px 0;
}

#produtos h1{
  /* color: #eaece5; */
  color: yellow;
}
.produto-item{background-color: var(--bg-light-1); 
  /* margin: 1em 0;  */
  padding: 1em;
}
.produto-item a{
    display: block;
    text-align: center;
  }

.produto-item img{
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgb(0 0 0 / 45%); */
}

.btn {
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    transition: background-color 0.3s;
    width: 200px;
    }
    
    .btn-saibamais {
      background-color: #003087;
      color: white;
    }
    
    .btn-saibamais:hover {
      background-color: #0056b3;
      color: white;
    }
    
    .btn-whatsapp {
      background-color: #054b16;
      color: #fff;
    }
    
    .btn-whatsapp:hover {
      background-color: #1ebe56;
      
    }
  
/*RODAPE*/
#rodape-itens{
  /* background-color: red; */
  margin: 1em 0 1em;
}
#rodape-index{
    /* background-color: #3053D2; */
    color: white;
    text-shadow: 1px 1px #222;
    text-align: center;
}

/* #rodape-itens h1,h2,h3{
  color: red;
} */

#rodape-index a{
    color: white;
}

#rodape-index p{
    /* text-align: center; */
    color: white;
    text-shadow: #111 2px 2px 3px;
}

#rodape-index h3{
  color: yellow;
}
#copyright{
    border-top: 1px solid #ccc;
    /* margin: 1em 0 1em; */
    padding: 1em 0 1em;
}

/* #rodape-itens{
    background-color: red;
} */


